@import '~bootstrap/scss/bootstrap';

body {
  margin:0;
  background-image:url('https://www.genpact.com/craft/assets/uploads/images/service-lines/sl-genone-finance-as-a-service-hero.jpg');
  // linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.sing-up-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
  color: aqua;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type=submit] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:aqua;
  width: 100%;
  border:0;
  padding: 15px;
  font-size: 14px;
  color: #ffff;
  cursor: pointer;
}

.form input[type=submit]:hover, .form input[type=submit]:active {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form #sign-up {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  background-color: #263343;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  border-bottom: 10px solid  rgb(85, 85, 160);

}

.navbar_logo {
  font-size: 24px;
  color: white;
}

.navbar_logo i{
  color: #d49466
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}

.navbar_logo i {
  color:#d49466;
}

.navbar_icons {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 12px;
}

.navbar_tooleBtn {
  display:none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color:#d49466;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    display:none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    justify-content: center;

  }

  .navbar_tooleBtn {
   display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }

}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  border-bottom: 10px solid  rgb(85, 85, 160);
  background-color: aqua;
  font-size: 50px;
}



#sign-up {
  border-bottom: 10px solid  rgb(85, 85, 160);
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  height: 20vh;
  width: 20vh;
}

#account-info {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    margin: auto;
    padding: 45px;
    padding-left: 200px;
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
    padding-left: 100px;


}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    color: #ffffff;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.board {
  margin: auto;
  // se the max size board to be 100% of
  // max-height: calc(100vh - 75px);
  // max-width: calc(100vh - 75px);
  // background: url('./../../public/Eric\ Thomas\ -\ Success\ pic.jpeg');
  // background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }


 .box {
  border: 3px solid red;
}

#game-board .box {
  border: 3px solid blue;


  // &:nth-child(3n){
  //   border-right:0;
  // }

  // &:nth-last-child(-1n+3){
  //   border-bottom:0;
  // }

  // min-height: calc(100% / 3);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(170, 45, 45);
  // font-size: 5vh;


  text-shadow: 2px 2px rgba(0, 0, 0, .25);

  &:hover {
    background-color: lightskyblue;
    user-select: none;
  }
  //user not select our text when clicking on it

}
